#avaliacao {
    text-align: center;
    margin-top: 60px;
    font-size: 1.7em;
}
#avas {
    font-size: 2em;
    color: #e9a209;
    text-align: center;
}
#ava1 {
    background-color: rgba(255, 255, 255, 0.562);
    width: 600px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
#ava1 {
    text-align: center;
}
#ava2 {
    background-color: rgba(255, 255, 255, 0.562);
    width: 600px;
    height: 350px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
#ava2 img {
    width: 200px;
}
#foote {
    background-color:#e9a20949;
    margin-top: 60px;
    text-align: center;
    padding: 12px;
}
#foote h3 {
    color: #e9a209;
}